In [1]:
%matplotlib inline

from pathlib import Path

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
import matplotlib.pylab as plt
from dmba import classificationSummary, gainsChart

a.

In [8]:
bank_df = pd.read_csv('D:/숙탯 2기/dmba-datasets/UniversalBank.csv')
bank_df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [9]:
train_df, valid_df = train_test_split(bank_df, test_size=0.4, random_state=1)

In [27]:
df1 = train_df[['CreditCard', 'Personal Loan', 'Online']]
pd.pivot_table(df1, index=['CreditCard', 'Personal Loan'], values='Online', aggfunc=sum)

                          Online
CreditCard Personal Loan
0          0                1117
           1                 126
1          0                 477
           1                  49

b.

In [17]:
49/(49+477)

0.09315589353612168

c.

In [32]:
pd.pivot_table(df1, index=['Personal Loan'], columns='Online', aggfunc=sum)

              CreditCard
Online                 0    1
Personal Loan
0                    327  477
1                     39   49

In [31]:
pd.pivot_table(df1, index=['Personal Loan'], values='CreditCard', aggfunc=sum)

               CreditCard
Personal Loan
0                     804
1                      88

In [22]:
526/(1243+526)

0.2973431317128321

In [4]:
bank_df = pd.read_csv('D:/숙탯 2기/dmba-datasets/UniversalBank.csv')

# convert to categorical
# bank_df.CreditCard = bank_df.CreditCard.astype('category')

# bank_df.Online = bank_df.Online.astype('category')

predictors = ['Online', 'CreditCard']
outcome = 'Personal Loan'

X = pd.get_dummies(bank_df[predictors])
y = (bank_df[outcome] == 1).astype(int)
classes = [1, 0]

# split into training and validation
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.40, random_state=1)

# run naive Bayes
bank_nb = MultinomialNB(alpha=0.01)
bank_nb.fit(X_train, y_train)

# predict probabilities
predProb_train = bank_nb.predict_proba(X_train)
predProb_valid = bank_nb.predict_proba(X_valid)

# predict class membership
y_valid_pred = bank_nb.predict(X_valid)
y_train_pred = bank_nb.predict(X_train)

In [6]:
# split the original data frame into a train and test using the same random_state
train_df, valid_df = train_test_split(bank_df, test_size=0.4, random_state=1)

pd.set_option('precision', 4)
# probability of flight status
print(train_df['Personal Loan'].value_counts() / len(train_df))
print()

for predictor in predictors:
    # construct the frequency table
    df = train_df[['Personal Loan', predictor]]
    freqTable = df.pivot_table(index='Personal Loan', columns=predictor, aggfunc=len)

    # divide each row by the sum of the row to get conditional probabilities
    propTable = freqTable.apply(lambda x: x / sum(x), axis=1)
    print(propTable)
    print()
pd.reset_option('precision')

0    0.9043
1    0.0957
Name: Personal Loan, dtype: float64

Online              0       1
Personal Loan
0              0.4125  0.5875
1              0.3902  0.6098

CreditCard          0       1
Personal Loan
0              0.7036  0.2964
1              0.6934  0.3066