### 과제 1. 파일명 입력받아 파일 읽어오는 함수

In [12]:
import pandas as pd

In [15]:
#파일 읽어오는 함수 정의

def read_file(file, sheet = "Sheet1"):    #sheet 번호는 Sheet1을 default로 설정
    확장자 = file.split(".")[1]    #파일명에서 확장자 추출
    
    if 확장자 == "csv":
        df = pd.read_csv(file)
    elif 확장자 == "xlsx":
        xls = pd.ExcelFile(file)
        df = xls.parse(sheet, index_col = None, na_values='NaN')
        
    return df

In [14]:
# csv 파일 읽어오기

read_file("Connections_UK.csv")

,Metric,"Market, Operator",Q1 2010,Q2 2010,Q3 2010,Q4 2010,Q1 2011,Q2 2011,Q3 2011,Q4 2011,...,Q3 2018,Q4 2018,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020
0,Connections,3 (CK Hutchison),"5,055,187","5,127,360","5,352,510","5,577,660","5,652,029","5,726,398","6,083,239","6,440,080",...,"9,582,252","9,626,088","9,669,967","9,712,479","9,755,098","9,797,860","9,840,305","9,881,951","9,923,260","9,964,683"
1,Connections,EE (BT),"17,175,000","27,093,000","27,101,000","27,214,000","26,978,000","26,803,000","26,762,000","27,834,000",...,"31,624,868","31,761,719","31,898,007","32,031,756","32,167,715","32,306,207","32,445,797","32,584,800","32,724,727","32,867,133"
2,Connections,Vodafone,"19,954,383","19,965,191","20,264,690","20,602,194","20,663,541","20,579,131","20,950,441","21,009,806",...,"24,812,109","25,111,891","25,413,702","25,710,591","26,013,145","26,322,182","26,634,518","26,946,341","27,261,031","27,582,093"
3,Connections,O2 (Telefónica),"21,355,500","21,605,600","21,957,100","22,211,500","22,286,400","22,142,600","22,213,600","22,167,500",...,"30,773,334","31,899,494","33,130,382","34,435,579","35,831,850","37,296,121","38,808,950","40,365,771","41,982,697","43,678,492"
4,Connections,Orange (Merged Q2 2010),"16,442,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Connections,Relish Broadband (UK Broadband),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"245,792","254,951","263,972","272,654","281,310","289,957","298,504","306,848","315,084","323,299"
6,Connections,United Kingdom,"79,982,070","73,791,151","74,675,300","75,605,354","75,579,970","75,251,129","76,009,280","77,451,386",...,"97,038,355","98,654,143","100,376,030","102,163,059","104,049,118","106,012,327","108,028,074","110,085,711","112,206,799","114,415,700"

In [16]:
#excel 파일 읽어오기

read_file("FranceMarketData.xlsx")

,Metric,Attribute,"Market, Operator",Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"Connections, including cellular M2M",NaN,NaN,Connections including Cellular M2M,Connections excluding Cellular M2M,Smartphone Connections
1,"Connections, including cellular M2M",Total,Bouygues Telecom,16207697,11864712,9452224
2,"Connections, including cellular M2M",Total,SFR (Altice),31005487,24988692,16390930
3,"Connections, including cellular M2M",Total,Orange,38747161,20658604,20870894
4,"Connections, including cellular M2M",Total,Free Mobile (Iliad),13844000,13844000,10806534

### 과제 2. 파이썬 내장 함수 실습

In [19]:
#abs

abs(3)

3

In [21]:
abs(-3)

3

In [22]:
abs(-1.2)

1.2

In [23]:
#all

all([1, 2, 3])

True

In [28]:
all([1, 2, 3, 0])

False

In [27]:
all({0:1, 2:1, 3:3, 5:1})     #딕셔너리에서 False인 key가 있으면 False가 출력되는 듯?

False

In [29]:
#any

any([1, 2, 3, 0])

True

In [30]:
any([0, ""])    #""도 거짓

False

In [31]:
#chr: 아스키코드 값을 입력받아 그 코드에 해당하는 문자 출력

chr(97)

'a'

In [32]:
chr(48)

'0'

In [34]:
#dir: 객체가 자체적으로 가지고 있는 변수나 함수 보여줌

dir([1, 2, 3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [35]:
dir({'1':'a'})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [36]:
#divmod: 몫과 나머지를 튜플 형태로 반환

divmod(7, 3)

(2, 1)

In [37]:
7 // 3

2

In [40]:
7 % 3

1

In [41]:
#enumerate: 객체의 인덱스 알 수 있음

for i, name in enumerate(['body', 'foo', 'bar']):
    print(i, name)

0 body
1 foo
2 bar

In [42]:
#eval

eval('1+2')

3

In [43]:
eval("'hi' + 'a'")

'hia'

In [44]:
eval('divmod(4, 3)')

(1, 1)

In [45]:
#filter

#positive.py 
def positive(l): 
    result = [] 
    for i in l: 
        if i > 0: 
            result.append(i) 
    return result
 
print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [46]:
#filter1.py
def positive(x):
    return x > 0
 
print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]

In [47]:
list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [48]:
#hex

hex(234)

'0xea'

In [49]:
hex(3)

'0x3'

In [50]:
#id

a = 3
id(3)

140727968999264

In [51]:
id(a)

140727968999264

In [52]:
b = a
id(b)

140727968999264

In [53]:
id(4)

140727968999296

In [54]:
#input

a = input()

hi

In [55]:
a

'hi'

In [56]:
b = input("Enter: ")

Enter: hi

In [57]:
b

'hi'

In [59]:
#int

int('3')

3

In [60]:
int(3.4)

3

In [62]:
int('11', 2)   #int(x, radix)는 radix 진수로 표현된 문자열 x를 10진수로 변환하여 돌려준다.

3

In [63]:
int('1A', 16)

26

In [64]:
#isinstance(object, class)

class Person: pass
a = Person()
isinstance(a, Person)

True

In [65]:
b = 3
isinstance(b, Person)

False

In [66]:
#len

len("python")

6

In [67]:
len([1,2,3])

3

In [68]:
len((1, 'a'))

2

In [69]:
#list

list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [70]:
list((1,2,3))

[1, 2, 3]

In [72]:
a = [1, 2, 3]
b = list(a)
b

[1, 2, 3]

In [73]:
#map(f, iterable)

# two_times.py
def two_times(numberList):
    result = [ ]
    for number in numberList:
        result.append(number*2)
    return result
 
result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

In [74]:
def two_times(x):
    return x*2

list(map(two_times, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [75]:
list(map(lambda a: a*2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [76]:
#max

max([1, 2, 3])

3

In [77]:
max("python")

'y'

In [78]:
#min

min([1, 2, 3])

1

In [79]:
min("python")

'h'

In [80]:
#oct

oct(34)

'0o42'

In [81]:
oct(12345)

'0o30071'

mode 설명
* w 쓰기 모드로 파일 열기
* r 읽기 모드로 파일 열기
* a 추가 모드로 파일 열기
* b 바이너리 모드로 파일 열기

In [ ]:
#open

f = open("binary_file", "rb")   #rb: 바이너리 읽기 모드

In [ ]:
fread = open("read_mode.txt", 'r')

In [ ]:
fread2 = open("read_mode.txt")   #모드 부분 생략하면 기본값인 r 갖게 됨. (읽기 모드)

In [ ]:
fappend = open("append_mode.txt", 'a')

In [83]:
#ord: 문자의 아스키 코드 값을 돌려주는 함수

ord('a')
#

97

In [84]:
ord('0')

48

In [85]:
#pow(x, y): x^y 돌려줌

pow(2, 4)

16

In [86]:
pow(3, 3)

27

In [87]:
#range

list(range(5))

[0, 1, 2, 3, 4]

In [89]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [91]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [92]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [93]:
#round

round(4.6)

5

In [94]:
round(4.2)

4

In [95]:
round(5.678, 2)   #소수점 두자리 수까지

5.68

In [96]:
#sort

sorted([3, 1, 2])

[1, 2, 3]

In [97]:
sorted(['a', 'c', 'b'])

['a', 'b', 'c']

In [98]:
sorted("zero")

['e', 'o', 'r', 'z']

In [99]:
sorted((3, 2, 1))

[1, 2, 3]

* 리스트 자료형의 sort 함수는 리스트 객체 그 자체를 정렬만 할 뿐 정렬된 결과를 돌려주지는 않는다.

In [100]:
#str

str(3)

'3'

In [101]:
str('hi')

'hi'

In [102]:
str('hi'.upper())

'HI'

In [103]:
#sum

sum([1, 2, 3])

6

In [104]:
sum((4, 5, 6))

15

In [105]:
#tuple

tuple("abc")

('a', 'b', 'c')

In [106]:
tuple([1, 2, 3])

(1, 2, 3)

In [107]:
tuple((1, 2, 3))

(1, 2, 3)

In [108]:
#type

type("abc")

str

In [109]:
type([])

list

In [110]:
type(open("test", 'w'))

_io.TextIOWrapper

In [111]:
#zip

list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]

In [112]:
list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [114]:
list(zip("abc", "def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]